/messages/*
!/messages/index.html

/search/db/*
/search/temp/*

/members/*
!/members/index.html

/uploads/*
!/uploads/index.html

/forum*/*

/modules/*/data/*
!/modules/*/data/index.html

/data/
/data/*
!/data/index.html