.idea/*

messages/*
!messages/index.html

search/db/*
search/temp/*

!search/db/index.html
!search/temp/index.html

members/*
!members/index.html

uploads/*
!uploads/index.html

forum*/*

modules/*/data/*
!modules/*/data/index.html

data/*